# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
*.egg

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# Visuals / outputs
*.png
*.jpg
*.jpeg
*.pdf

# Power BI / binarios
*.pbix

# System
.DS_Store
Thumbs.db

# Logs
*.log
